# Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
.env/
.venv/
ENV/
env/
*.env

# IDE: PyCharm, IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Логи
*.log

# Базы данных (по желанию)
*.sqlite3
*.db

# Файлы дампов
*.sql
*.dump

# Конфиги и ключи
*.pem
*.key
*.crt

# Тестовые артефакты
htmlcov/
.tox/
.coverage
coverage.xml
nosetests.xml
test_*.log

# Build/packaging
build/
dist/
*.egg-info/
