asgiref==3.8.1
beautifulsoup4==4.13.3
Django==4.1
numpy>=1.22.4
pandas==2.2.3
pillow==11.1.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2025.1
setuptools==76.0.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
wheel==0.45.1
XlsxWriter==3.2.2
