/* Главная страница */
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #6482a8;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #61b9a2;
}

main {
    margin: 20px;
}

.welcome-container {
    max-width: 1100px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(100, 130, 168, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.welcome-create {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(100, 130, 168, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.welcome-edit {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(100, 130, 168, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.welcome-group {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background-color: rgba(100, 130, 168, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.welcome-title {
    font-size: 2em;
    color: #333;
    margin: 0;
}

.user-log {
    font-size: 20px;
    color: #6b92c2;
}

/*Авторизация*/ /*Регистрация*/
.form-label {
    width: 100px;
    text-align: right;
    margin-right: 20px;
    font-weight: bold;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
}


/*Список групп*/
.section-title {
    color: #333;
    font-size: 16px;
    cursor: pointer;
}

.no-groups {
    color: red;
    margin: 5px;
}

.info-label {
    font-weight: bold;
    color: #333;
}

.group-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.group-name {
    flex-grow: 1;
    min-width: 240px;
}


.group-container {
    display: flex;
    justify-content: space-between;
}

.group-container div {
    border: 1px solid #333;
    width: 45%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #eff2f6;
}

.group-container h4 {
    margin-top: 0;
    text-align: center;
    font-weight: bold;
}


.group-list li {
    border: 1px solid #ddd;
    border-radius: 3px;
    cursor: grab;
}

.group-list li:hover {
    background-color: #f1f1f1;
}


.submit-btn:hover {
    background-color: #4a6a8e;
}


.title-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


/* Стили для контейнера с информацией о пользователе */
.user-info {
    padding: 20px;
}

.info-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.info-value {
    color: #555;
    margin-left: 10px;
}

/* Стили для списка групп */
.group-list {
    list-style: none;
    margin: 0;
    min-height: 10px;
    padding: 10px;
}

.group-list li {
    margin: 5px 0;
}


.group-dates {
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.group-user-count {
    margin-left: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
}


/* Стили для кнопки */
.group-link-user {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 14px;
    margin: 5px 0;
    border: 1px solid #4a6a8e;
    padding: 4px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.group-link-user:hover {
    background-color: #cce1f7;
}


/*Кнопки*/
.btn {
    text-decoration: none;
    color: white;
    padding: 4px 8px;
    font-size: 0.9em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: #6482a8;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #4a6a8e;
}

.btn:hover {
    background-color: #4a6a8e;
}

.btn-save {
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6482a8;
    border: none;
}

.btn-save:hover {
    background-color: #45a049;
}

.btn-cancel {
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6482a8;
    border: none;
}

.btn-cancel:hover {
    background-color: darkgray;
}

.btn-delete {
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6482a8;
    border: none;
}

.btn-delete:hover {
    background-color: #d31a20;
}

.btn-edit {
    background-color: gray;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #6482a8;
    border: none;
}

.btn-edit:hover {
    background-color: #c1ac16;
}

.all-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.group-number {
    min-width: 20px;
    text-align: right;
}

.group-users-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки */
    gap: 10px; /* Отступ между пользователями */
    padding: 15px 0;
}

.group-search {
    width: 80%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.user-search {
    width: 80%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.audit-search {
    width: 50%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.o-button {
    width: 10%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.d-button {
    width: 13%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.no-users {
    color: red;
    margin: 5px;
}

.no-email {
    color: red;
}

.user-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.messages {
    margin-bottom: 15px;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}


.info-description {
    text-align: left;
    margin-top: 20px;
}


.btn-excel {
    background-color: #217346;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.btn-excel:hover {
    background-color: #1e5c3c;
}


.table-list {
    width: 100%;
    border-collapse: collapse;
}

.table-list th, .table-list td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table-list th {
    background-color: #f4f4f4;
    text-align: left;
}

.table-item:nth-child(even) {
    background-color: #f9f9f9;
}

.table-item:hover {
    background-color: #e9e9e9;
}


.audit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
}

.audit-table th, .audit-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.audit-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.audit-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.audit-table .no-data {
    text-align: center;
    color: #888;
    font-style: italic;
}


.o-button {
    width: 10%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.d-button {
    width: 13%;
    padding: 4px 4px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


.schema-layout {
    display: flex;
}

.schema-list {
    width: 20%;
    background: #f4f4f4;
    padding: 15px;
    border-right: 1px solid #ccc;
}

.schema-list ul {
    list-style: none;
    padding: 0;
}

.schema-list li {
    padding: 5px 0;
}

.schema-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.schema-list a:hover {
    text-decoration: underline;
}

.schema-content {
    width: 80%;
    padding: 15px;
}

.permissions-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.permissions-table th, .permissions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.permissions-table th {
    background-color: #e0e0e0;
}

.permissions-table th button {
    width: 100%;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
}

.permissions-table th button:hover {
    background-color: #0056b3;
}


/*Настройки проекта*/
.settings-table label {
    font-weight: bold;
}

.settings-table td:first-child {
    text-align: left;
}

#id_pagination_size {
    width: 40px !important;
}

/**/

.user-container {
    display: flex;
    flex-wrap: wrap; /* Разрешаем перенос на новую строку */
    gap: 10px; /* Отступ между элементами */
    justify-content: flex-start; /* Выравнивание элементов */
}
