{% extends 'base.html' %}
<title>{% block title %}Базы данных и таблицы PostgreSQL{% endblock %}</title>

{% block content %}
<div class="welcome-container">
    <h2 class="welcome-title">Список баз данных и таблиц в PostgreSQL</h2>
    <hr>

    <!-- Вывод сообщений об ошибках -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if databases_with_tables %}
        <div class="accordion" id="databaseAccordion">
            {% for db_data in databases_with_tables %}
                <div class="accordion-item">
                    <h2 class="info-item" id="heading-{{ forloop.counter }}">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse-{{ forloop.counter }}">
                            База данных: {{ db_data.database }} ({{ db_data.tables|length }} таблиц)
                        </button>
                    </h2>
                    <div id="collapse-{{ forloop.counter }}" class="accordion-collapse collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading-{{ forloop.counter }}" data-bs-parent="#databaseAccordion">
                        <div class="accordion-body">
                            {% if db_data.tables %}
                                <table class="table">
                                        {% for table in db_data.tables %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ table.schema }}</td>
                                                <td>{{ table.table_name }}</td>
                                            </tr>
                                        {% empty %}
                                            <tr><td colspan="3">Нет таблиц в базе данных {{ db_data.database }}.</td></tr>
                                        {% endfor %}
                                </table>
                            {% else %}
                                <p>Нет таблиц в базе данных {{ db_data.database }}.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных баз данных для отображения.</p>
    {% endif %}
</div>

{% endblock %}
