{% extends 'base.html' %}
<title>{% block title %}Редактирование администратора{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <h2 class="welcome-title">Редактирование администратора: {{ admin_user.username }}</h2>
        <hr>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data" style="text-align: left">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="all-btn">
                <a href="{% url 'admin_info' %}" class="btn btn-cancel">Назад</a>
                <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
        </form>
    </div>
{% endblock %}
