{% extends 'base.html' %}
<title>{% block title %}Настройки{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <h2 class="welcome-title">Настройки</h2>
        <hr>

        <!-- Вывод сообщений -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="all-btn">
            <a href="{% url 'settings_project' %}" class="btn btn-save">Настройки приложения</a>
            <a href="{% url 'audit_log' %}" class="btn btn-save">Аудит приложения</a>
            <a href="{% url 'session_list' %}" class="btn btn-save">Сессии пользователей</a>
        </div>
    </div>
{% endblock %}
