{% extends 'base.html' %}
<title>{% block title %}Список пользователей в группе{% endblock %}</title>

{% block content %}
    <div class="welcome-container">
        <h2 class="welcome-title">Список пользователей ({% if user_count %}{{ user_count }}{% else %}0{% endif %} шт.) в группе: {{ group_name }}</h2>
        <hr>

        <!-- Вывод сообщений об ошибках -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        <div class="info-item">
            <span class="info-label">Дата создания:</span>
            <span class="info-value">{% if group_log.created_at %}
                {{ group_log.created_at|date:"d.m.Y - H:i" }}{% else %}—{% endif %}</span>
        </div>
        <div class="info-item">
            <span class="info-label">Дата изменения:</span>
            <span class="info-value">{% if group_log.updated_at %}
                {{ group_log.updated_at|date:"d.m.Y - H:i" }}{% else %}—{% endif %}</span>
        </div>
        <hr>

        <!-- Поле поиска -->
        <input type="text" id="userSearch" class="user-search" onkeyup="filterUsers()"
               placeholder="Поиск пользователя..."/>

        <div class="info-item">
            <div class="user-container">
                {% for user in users %}
                    <a href="{% url 'user_info' db_id=db_id username=user %}" class="group-link-user">{{ user }}</a>
                {% empty %}
                    <span class="no-users">Нет пользователей в этой группе</span>
                {% endfor %}
            </div>
        </div>

        <div class="all-btn">
            <a href="{% url 'group_list' db_id=db_id %}" class="btn btn-cancel">Назад</a>
        </div>
    </div>

    <script>
        function filterUsers() {
            let input = document.getElementById("userSearch");
            let filter = input.value.toLowerCase();
            let items = document.querySelectorAll(".group-link-user");

            items.forEach(item => {
                let userName = item.textContent.toLowerCase();
                if (userName.includes(filter)) {
                    item.style.display = "block";
                } else {
                    item.style.display = "none";
                }
            });
        }
    </script>

{% endblock %}
