{% extends 'base.html' %}
<title>{% block title %}Права доступа в {{ db_name }}{% endblock %}</title>
{% block content %}
    <div class="welcome-container">
        <h2 class="welcome-title">Права доступа в базе данных: {{ db_name }} для группы: {{ group_name }}</h2>
        <hr>
        <form method="post">
            {% csrf_token %}
            <div class="schema-layout">
                <div class="schema-list">
                    <h3>Схемы</h3>
                    <ul>
                        {% for schema in tables_by_schema.keys %}
                            <li>
                                <a href="javascript:void(0);" onclick="showSchemaTables('{{ schema }}')">
                                    📂 {{ schema }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="schema-content">
                    {% for schema, tables in tables_by_schema.items %}
                        <div class="schema-container" id="schema-{{ schema }}" style="display: none;">
                            <h3 class="schema-title">
                                {{ schema }}
                            </h3>
                            <table class="permissions-table">
                                <thead>
                                <tr>
                                    <th style="width: 240px">Таблица</th>
                                    <th>
                                        <button type="button" class="btn btn-small" onclick="toggleSchemaPermissions('{{ schema }}', 'SELECT')">Все SELECT</button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-small" onclick="toggleSchemaPermissions('{{ schema }}', 'INSERT')">Все INSERT</button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-small" onclick="toggleSchemaPermissions('{{ schema }}', 'UPDATE')">Все UPDATE</button>
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-small" onclick="toggleSchemaPermissions('{{ schema }}', 'DELETE')">Все DELETE</button>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for table, permissions in tables.items %}
                                    <tr>
                                        <td>{{ table }}</td>
                                        <td><input type="checkbox" class="permission-checkbox {{ schema }}-SELECT" name="permissions_{{ schema }}.{{ table }}" value="SELECT"
                                                   {% if "SELECT" in permissions %}checked{% endif %}></td>
                                        <td><input type="checkbox" class="permission-checkbox {{ schema }}-INSERT" name="permissions_{{ schema }}.{{ table }}" value="INSERT"
                                                   {% if "INSERT" in permissions %}checked{% endif %}></td>
                                        <td><input type="checkbox" class="permission-checkbox {{ schema }}-UPDATE" name="permissions_{{ schema }}.{{ table }}" value="UPDATE"
                                                   {% if "UPDATE" in permissions %}checked{% endif %}></td>
                                        <td><input type="checkbox" class="permission-checkbox {{ schema }}-DELETE" name="permissions_{{ schema }}.{{ table }}" value="DELETE"
                                                   {% if "DELETE" in permissions %}checked{% endif %}></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% empty %}
                        <p>Нет доступных схем и таблиц.</p>
                    {% endfor %}
                </div>
            </div>
            <div class="all-btn">
                 <a href="{% url 'group_list' db_id=db_id %}" class="btn btn-cancel">Назад</a>
                <button type="submit" class="btn btn-save">Сохранить</button>
            </div>
        </form>
    </div>

    <script>
        function showSchemaTables(schema) {
            document.querySelectorAll(".schema-container").forEach(el => el.style.display = "none");
            document.getElementById("schema-" + schema).style.display = "block";
        }

        function toggleSchemaPermissions(schema, permissionType) {
            let checkboxes = document.querySelectorAll("." + schema + "-" + permissionType);
            let allChecked = Array.from(checkboxes).every(checkbox => checkbox.checked);
            checkboxes.forEach(checkbox => checkbox.checked = !allChecked);
        }
    </script>
{% endblock %}
