{% extends 'base.html' %}

{% block content %}
    <div class="welcome-container">

        <!-- Вывод сообщений об ошибках -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}"
                         role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if user.is_authenticated %}
            <h2 class="welcome-title">Добро пожаловать!</h2>
            <h3>Вы вошли в систему как пользователь <strong class="user-log ">{{ user.username }}</strong></h3>
            {% if user.is_superuser is not True %}
                <h3>Вам недоступен функционал, пожалуйста обратитесь к администратору</h3>
            {% endif %}
        {% else %}
            <h2 class="welcome-title">Вы не вошли в систему!</h2>
            <h3>Пожалуйста,
                <a href="{% url 'login' %}">войдите</a> или
                <a href="{% url 'register' %}">зарегистрируйтесь</a></h3>
        {% endif %}

    </div>
{% endblock %}
