{% extends 'base.html' %}

{% block content %}
    <div class="welcome-container">
        {% if user.is_authenticated %}
            <h2 class="welcome-title">Добро пожаловать!</h2>
            <h3>Вы вошли в систему как пользователь {{ user.username }}</h3>
        {% else %}
            <h2 class="welcome-title">Вы не вошли в систему!</h2>
            <h3>Пожалуйста,
                <a href="{% url 'login' %}">войдите</a> или
                <a href="{% url 'register' %}">зарегистрируйтесь</a></h3>
        {% endif %}
    </div>
{% endblock %}
