{% extends 'base.html' %}
<title>{% block title %}Информация пользователя{% endblock %}</title>

{% block content %}
    <div class="welcome-group">
        {% if user_data %}
            <h1 class="welcome-title">Информация пользователя: {{ user_data.username }}</h1>
            <hr>

            <!-- Вывод сообщений об ошибках -->
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-error{% endif %}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="info-item">
                <span class="info-label">ID пользователя:</span>
                <span class="info-value">{{ user_data.user_id }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Логин:</span>
                <span class="info-value">{{ user_data.username }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Пароль (хэш):</span>
                <span class="info-value">{{ user_data.password_hash }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Email:</span>
                {% if user_data.email %}
                    <span class="info-value">{{ user_data.email }}</span>
                {% else %}
                    <span class="info-value no-email">Почта не указана</span>
                {% endif %}
            </div>
            <div class="info-item">
                <span class="info-label">Может создавать БД:</span>
                <span class="info-value">{{ user_data.can_create_db }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Суперпользователь:</span>
                <span class="info-value">{{ user_data.is_superuser }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Дата создания:</span>
                <span class="info-value">{{ user_data.created_at|date:"d.m.Y - H:i" }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Дата изменения:</span>
                <span class="info-value">{{ user_data.updated_at|date:"d.m.Y - H:i" }}</span>
            </div>
            <div class="info-item">
                <span class="info-label">Количество групп пользователя:</span>
                <span class="info-value">{{ user_data.group_count }} шт.</span>
            </div>
            <hr>
            <div class="info-item">
                <span class="info-label">Группы пользователя:</span>
                {% if user_data.groups %}
                    {% for group in user_data.groups %}
                        <a href="{% url 'group_users' group %}" class="group-link-user">{{ group }}</a>
                    {% endfor %}
                {% else %}
                    <span class="no-groups"> Пользователь не состоит в группах</span>
                {% endif %}
            </div>
            <div class="all-btn">
                <a href="{% url 'user_list' %}" class="btn btn-cancel">Назад</a>
                <a href="{% url 'user_edit' username=user_data.username %}" class="btn btn-edit">Редактировать</a>
            </div>
        {% else %}
            <h1 class="welcome-title">Пользователь не найден</h1>
        {% endif %}
    </div>
{% endblock %}
